<meta charset="utf-8" />
<title>@( "Hospital - " + ViewBag.Title)</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
<meta content="Themesbrand" name="author" />
<link rel="shortcut icon" href="~/Areas/Hospital/Content/images/healthcare.ico">
<link rel="stylesheet" href="~/Areas/Hospital/Content/css/toastr.min.css" />
<link rel="stylesheet" type="text/css" href="~/Areas/Hospital/Content/css/bootstrap.min.css" id="bootstrap-style" />
<link rel="stylesheet" type="text/css" href="~/Areas/Hospital/Content/css/icons.min.css" />
<link rel="stylesheet" type="text/css" href="~/Areas/Hospital/Content/css/app.min.css" id="app-style" />