@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    @{ Html.RenderPartial("_StyleSheet"); }
</head>
<body>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-soft">
                            <div class="row g-0">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">@TempData["UserTitle"]</h5>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img alt="" class="img-fluid" src="~/Areas/Hospital/Content/images/profile-img.png" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="auth-logo">
                                <a href="/Hospital" class="auth-logo-light">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="~/Areas/Hospital/Content/images/healthcare.png" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                                <a href="/Hospital" class="auth-logo-dark">
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="~/Areas/Hospital/Content/images/healthcare.png" alt="" class="rounded-circle" height="34">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <div>
                            @RenderSection("footer", true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("_Script"); }
</body>
</html>