@model EHealthCare.App_Start.User
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">


<head>
    @{ Html.RenderPartial("_StyleSheet"); }
</head>

<body>
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">EHealth Care</p>
        </div>
    </div>
    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                <form class="form-horizontal" id="loginform" action="">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Recover Password</h3>
                            <p class="text-muted">OTP send to your email enter here! </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Enter OTP">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <div class="row">
                                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="javascript:void(0)" id="to-recover">
                                    Reset
                                </button>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <a href="/Admin/Home" id="to-login" class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal form-material", id = "recoverform" }))
                {
                    <h3 class="box-title m-b-20">Change Password</h3>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            @Html.EditorFor(e => e.UserName, new { htmlAttributes = new { @type = "text", @class = "form-control", @placeholder = "Username", @required = "required" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            @Html.EditorFor(e => e.Password, new { htmlAttributes = new { @type = "password", @class = "form-control", @placeholder = "Password", @required = "required" } })
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <div class="row">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Change Password</button>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <a href="/Admin/Home" id="to-login" class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light">Cancel</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    @{ Html.RenderPartial("_Script"); }
</body>
</html>