<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" type="image/png" sizes="16x16" href="~/Areas/Admin/Content/plugins/images/favicon.png">
<title>@( "Admin - " + ViewBag.Title)</title>
<link href="~/Areas/Admin/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/css/animate.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet">
<link href="~/Areas/Admin/Content/css/colors/default.css" id="theme" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />