@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Hospital/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Change Password</h4>

                @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
                {
                    <div class="mb-3 row">
                        <label for="txtOldPassword" class = "col-md-2 col-form-label">Old Password</label>
                        <div class="col-md-10">
                            <input type="password" name="OldPassword" id="txtOldPassword" class="form-control" required />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="txtNewPassword" class="col-md-2 col-form-label">New Password</label>
                        <div class="col-md-10">
                            <input type="password" name="NewPassword" id="txtNewPassword" class="form-control" required />
                        </div>
                    </div>                    

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary w-md">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>